* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --BGCOLOR: #9dc3c2ff;
  --TXTCOLOR: #b3d89cff;
  --FRSTCOLOR: #d0efb1ff;
  --SCNDCOLOR: #4d7298ff;
  --THRDCOLOR: #77a6b6ff;
}
body {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--BGCOLOR);
}

#todoList {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
}
